version: '3'
services:
  db:
    image: postgres:14
    environment:
      POSTGRES_PASSWORD: Ag3030*#66
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    environment:
      - PORT=8080
      - JDBC_DATABASE_URL=jdbc:postgresql://ludopgsqlserver.postgres.database.azure.com:5432/postgres?user=souhibznkk@gmail.com&password=Password123!&sslmode=require
      - JDBC_DATABASE_USERNAME=v2postgresql_user
      - JDBC_DATABASE_PASSWORD=F90kJzTrHTz9lk7b8eOVTwNnhgfJC63M
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
        
volumes:
  postgres-data: